pandas
#jupyterlab
ipylab
bqplot
ipycanvas
ipyevents
ipyleaflet
mpld3
markupsafe
ipympl
ipydrawio
ipydrawio-widgets
ipydrawio-export
ipyradiant # Jupyter Widgets for working with RDF graphs
ipyflex # A WYSIWYG layout editor for Jupyter widgets https://github.com/trungleduc/ipyflex
IPySlides # Live rich content slides in jupyter notebook

jupyterlab_iframe
jupyterlab-lsp
jupyterlab-autoplot  # https://github.com/man-group/jupyterlab-autoplot  # impressive way to plot # Sadly, not working on Jupyterlite
jupyterlab-stickyland # Break free from the linear presentation of Jupyter Notebooks with sticky cells!
jupyterlab-skip-traceback # makes tracking errors focus on the target and not the details.
jupyterlab_comments # myNote: on the right bar, icon for comments
# ------------------------------------
jupyterlab-fasta
jupyterlab-geojson
jupyterlab-bpmn # diagram model format
jupyterlab-dmn  # diagram model format
jupyterlab-tour
# jupyterlab-git # to test later # if you want to use git from JupyterLab, you should look at the jupyterlab-git extension.
jupyterlab-github
## jupyterlab-unfold   # !!! 
## jlab-enhanced-launcher # !!! A enhanced launcher for JupyterLab # Does NOT work with JupyterLite !!! Do not install
jupyterlab-citation-manager
jupyterlab-dash
jupyterlab-itables
jupyterlab-plugin-graph # JupyterLab extension to show an interactive dependency graph of the installed plugins
jupyterlab-jitsi # A jupyterlab extension to add a Jitsi chat
jupyterlab-blockly
jupyter-simlin # visual editor for system dynamics models. Simlin is a tool for simulation modeling, 
               # leveling up your ability to learn. With Simlin you can iterate on strategy and policy 
               # faster than you can in the real world, with fewer costs and the freedom to fail.

jupyterlab-image-editor
# jupyterlab_mosaic # Mosaic schematic editor lab extension # not working with Jupyter-Lite
jupyterlab-wav #  simple wave file viewer using WaveSurfer.js for JupyterLab.
jupyterlab-requirements # JupyterLab Extension for dependency management and optimization
jupyterlab-execute-time # Display cell timings in Jupyter Lab
jupyterlab-empinken-extension # Coloured JupyterLab / RetroLab notebook cells based on cell tags
jupyterlab-filesystem-access
jupyterlab_thredds
# The main motivation for this extension (jupyterlab-filesystem-access) is to give access to local files in JupyterLite. 
# This extension is compatible with Chromium-based browsers only (for now:August 2,2022)
jupyter-innotater # An Inline Data Annotator for Jupyter #  useful for DL data annotation
ipyannotations # Create rich adata annotations in jupyter notebooks.
tiledb-plot-widget
graphscope-jupyter
# ----- Reinstall some other packages ----
metakernel
calysto
# postgres_kernel
sqlp-kernel
mlflow-kernel
ivy-core
# GDAL
bearsql
# jupysql
# atoti # Design, explore and deploy efficient and flexible data models
# atoti-core # Package containing private symbols shared by the other atoti packages
# atoti-jupyterlab # Plugin to interactively visualize atoti sessions in JupyterLab
xautoml # A JupyterLab extension to visualize and explain AutoML optimization procedures.
# eidein # Interactive tool for dimensionality reduction of spectra and their visualisation 
ipyelk # ELK layout algorithms widget for Jupyter 
HCIplot # High-contrast Imaging Plotting library.
k3d # 3D visualization library # https://k3d-jupyter.org/
# ----------------------
# xeus-sql
# xeus-python  work working in browser, possible conflect on kernel
jupyterlite
# jupyterlite-xeus-python # work working in browser, possible conflect on kernel
jupyterlite-p5-kernel
# jupyterlite_robotkernel  # !!! Possible this is responsible for degrading JupyterLab and JupterLite private cell functions icons 
# jupyterlite_xeus_lfortran # Not matured 
jupyterlite-xeus-lua
jupyterlite-xeus-wren
jupyterlite-xeus-sqlite
JupyterLite-sphinx
# pyb2d_jupyterlite_backend # more of testing dynamics for games and 3D FX effects  # Not Matured !! no documentation
repo2jupyterlite
replite
# ---------------------
vispy
aitk.keras
plotly
imjoy-jupyterlab-extension # 
dsvisualizer # A simple data structure visualizer for Jupyter Notebooks. https://github.com/romero-jose/dsvisualizer
ipyx # A Jupyter widget library for reactive variables
ipybertin # A Jupyter - Bertin.js bridge, which Bertin.js is A package to draw maps in javascript based on D3.js 



statworx-theme # A color theme for matplotlib using the offical statworx design
pyplot-themes # Easily set themes that automatically apply to matplotlib, seaborn, and pandas plots
jltheme # Change Matplotlib rcParams to match the current JupyterLab theme.
jupyterlab_miami_nights
theme-darcula   # Not bad, also I need a gray Theme
jupyterlab-theme-hale
jupyterlab-fonts
skillsnetwork-authoring-extension

jupyterlab-webrtc-docprovider
jupyter-videochat
jupyterview
jupyter-compare-view
floatview
ipyvizzu # no relation with   PyOpenGL-accelerate
panel-sketch # To sketch high performing, interactive visualizations running in the browser and drawing inspiration from p5js
# https://github.com/MarcSkovMadsen/panel-sketch

# jupyterlab-snippets # does not work Totally with Jupyter-lite
# jupyterlab-code-snippets # this is not working with Jupyter-lite, just Only the interface is show, but command do not save.

# jupyterlab_templates nothing is shown except a tool to show templates that are no where !
# jupyterlab_multicontents_templates # Inspired by 'Jupyterlab-templates' but added extra functions.
# jupyterlab-bookmarks-extension # !!! A JupyterLab extension to provide Launcher icons for favorites. Allows 'bookmarking' files for quick access from the Launcher. 
                                  # myNotes: more like templates
# !!! jupyterlab-bookmarks-extension is outdated that it drag other package to be old ones


pyotritonclient # A lightweight http client library for communicating with Nvidia Triton Inference Server (with Pyodide support in the browser)

# -- other Tools related to :: pyodide -----
# pyodide # is a Python distribution for the browser and Node.js based on WebAssembly.
matplotlib-pyodide
pyodide-html
pyodide-http
pyodide-build
exodide
micropip

# === other Tools ::  GUI based on markdown/ hmtl/ css / JS -----
ipyscript # A Custom Jupyter Widget Library for PyScript.
flexx # is a pure Python toolkit for creating graphical user interfaces (GUI’s), 
      # that uses web technology for its rendering. Apps are written purely in Python; 
      # The PScript transpiler generates the necessary JavaScript on the fly.
      # https://flexx.readthedocs.io/en/stable/
Castella #  is a pure Python cross-platform UI framework made for us Pythonista.
         # https://i2y.github.io/castella/
htag # GUI toolkit for building GUI toolkits (and create beautiful applications for mobile, web, and desktop from a single python3 codebase),
     # which render nativly in anything which can render html/js/css.
     # Interesting History and experinces from other tools like :
     # Guy (https://github.com/manatlan/guy), Python-eel (), remi (https://github.com/rawpython/remi) and gtag (https://github.com/manatlan/gtag)
     # as Alternative for Runner 
     # For a desktop app : You can use the PyWebView runner, which will run the UI in a pywebview container (or "ChromeApp runner", in a local chrome app mode). 
     # For a web app : You can use the WebHTTP runner, which will run the UI in a web server, and serve the UI on client side, in a browser. 
     # For a android app : You can use the AndroidApp runner, which will run the UI in a kiwi webview thru tornado webserver, and can be embedded in an apk (recipes)
     # For a pyscript app : you can use the PyScript runner, which will run completly in client side

# ==== Game Engines and 3D =====
pygbag # python wasm for everyone ( packager + test server ). Runs python code directly in modern web browsers, including mobile versions. 
# pyp5js # Python to P5.js Transcriptor. https://pypi.org/project/pyp5js/ . MyNotes: pyp5js works like server and template generator. & not updated to use latest Jinja
# P5 # P5 is a Python library that provides high level drawing functionality to help you quickly create simulations and interactive art using Python. 
   # My Notes: P5 looks better than pyp5js in term of usability in Jupyter notebook # it have depedency on vispy
ipyp5 #  p5.js Jupyter Widget. My Notes: ipyp5 is old , but can be handy 
Enpyre # is an open-source library to render 2D games made with Python in React with graphics by PIXI.js and the power of Pyodide, WASM, and modern web technologies.
wasm-spec-kernel # A Jupyter kernel for the Wasm reference interpreter  # This degrade Jupyterlite new feature based on JupyterLab
wasmpy # Interactions between WebAssembly and Python
wasmpy-build # Emscripten compatible build script for CPython C extensions
pywasm3 # Python bindings for Wasm3, the fastest WebAssembly interpreter
wasmtime
wasmer
wasmer-compiler-llvm  # since this will be compiled on the browser, I AM NOT SURE it is work cross platform
wasmer-compiler-cranelift
wasmer-compiler-singlepass
pyaswasm # Loader of AssemblyScript WASM modules into Python with Wasmer backend