bqplot
ipycanvas
ipyevents
ipyleaflet
ipympl
ipywidgets
jupyterlab
ipydrawio
ipydrawio-widgets
ipydrawio-export
# postgres_kernel
sqlp-kernel
mlflow-kernel
# ----- Reinstall some other packages ----
pandas
# ----------------------
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlab_miami_nights
# jupyterlab-git # to test later
jupyterlab-github
jupyterlab-widgets
jupyterlab-citation-manager
jupyterlab-dash
jupyterlab-itables
jupyterlab_iframe
# jupyterlab-unfold
jupyterlab-fonts
jupyterlab-blockly
jupyterlab-filesystem-access
# The main motivation for this extension (jupyterlab-filesystem-access) is to give access to local files in JupyterLite. 
# This extension is compatible with Chromium-based browsers only (for now:August 2,2022)

# ----------------------
# xeus-sql
# xeus-python  work working in browser, possible conflect on kernel
jupyterlite
# jupyterlite-xeus-python # work working in browser, possible conflect on kernel
jupyterlite-p5-kernel
jupyterlite_robotkernel
# jupyterlite_xeus_lfortran # Not matured 
jupyterlite-xeus-lua
jupyterlite-xeus-wren
jupyterlite-xeus-sqlite
JupyterLite-sphinx
# pyb2d_jupyterlite_backend # more of testing dynamics for games and 3D FX effects  # Not Matured !! no documentation

# ---------------------
aitk.keras
plotly
theme-darcula   # Not bad, also I need a gray Theme
repo2jupyterlite
replite
skillsnetwork-authoring-extension
jupyterlab-webrtc-docprovider
jupyter-videochat
jupyterview
jupyter-compare-view
floatview
ipyvizzu

graphscope-jupyter

pyotritonclient 
# A lightweight http client library for communicating with Nvidia Triton Inference Server (with Pyodide support in the browser)

# -- other Tools related to :: pyodide -----
#pyodide 
matplotlib-pyodide
pyodide-html
pyodide-http
pyodide-build
exodide
micropip
# Pyodide is a Python distribution for the browser and Node.js based on WebAssembly.
click-default-group-wheel
panel-sketch
ipyscript
flexx
Castella
