pandas
jupyterlab
ipywidgets>7.7
jupyterlab-widgets
jupyterlab_iframe>0.4
jupyterlab-lsp>3.10
# jupyterlab-autoplot>0.1  # https://github.com/man-group/jupyterlab-autoplot  # impressive way to plot
# jupyterlab-skip-traceback>4 # makes tracking errors focus on the target and not the details.
# jupyterlab-stickyland # Break free from the linear presentation of Jupyter Notebooks with sticky cells!

# jupyterlab_comments>0.1 # myNote: on the right bar, icon for comments
# jupyterlab-snippets>=0.4
# jupyterlab-code-snippets>2
# jupyterlab-empinken-extension # Coloured JupyterLab / RetroLab notebook cells based on cell tags
## jupyterlab_templates
# jupyterlab_multicontents_templates>=0.4 # Inspired by 'Jupyterlab-templates' but added extra functions.

bqplot
ipycanvas
ipyevents
ipyleaflet
ipympl

ipydrawio
ipydrawio-widgets
ipydrawio-export

#ipyradiant # Jupyter Widgets for working with RDF graphs
#ipyflex # A WYSIWYG layout editor for Jupyter widgets https://github.com/trungleduc/ipyflex
#IPySlides # Live rich content slides in jupyter notebook

# postgres_kernel
sqlp-kernel
mlflow-kernel
# ----- Reinstall some other packages ----

#metakernel
#calysto
# ----------------------
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour

# jupyterlab-git # to test later # if you want to use git from JupyterLab, you should look at the jupyterlab-git extension.
jupyterlab-github
jlab-enhanced-launcher # A enhanced launcher for JupyterLab

jupyterlab-citation-manager
jupyterlab-dash
jupyterlab-itables


# jupyterlab-bookmarks-extension # A JupyterLab extension to provide Launcher icons for favorites. Allows 'bookmarking' files for quick access from the Launcher. 
                               # myNotes: more like templates
# jupyterlab-unfold
jupyterlab-fonts
# jupyterlab-plugin-graph # JupyterLab extension to show an interactive dependency graph of the installed plugins
# jupyterlab-jitsi # A jupyterlab extension to add a Jitsi chat
jupyterlab-blockly
# jupyter-simlin # visual editor for system dynamics models. Simlin is a tool for simulation modeling, 
               # leveling up your ability to learn. With Simlin you can iterate on strategy and policy 
               # faster than you can in the real world, with fewer costs and the freedom to fail.
# jupyterlab-image-editor
# jupyterlab_mosaic # Mosaic schematic editor lab extension
# jupyterlab-wav #  simple wave file viewer using WaveSurfer.js for JupyterLab.
# jupyterlab-requirements # JupyterLab Extension for dependency management and optimization
jupyterlab-execute-time # Display cell timings in Jupyter Lab
jupyterlab-filesystem-access
# The main motivation for this extension (jupyterlab-filesystem-access) is to give access to local files in JupyterLite. 
# This extension is compatible with Chromium-based browsers only (for now:August 2,2022)
# jupyter-innotater # An Inline Data Annotator for Jupyter #  useful for DL data annotation
# ipyannotations # Create rich adata annotations in jupyter notebooks.
# tiledb-plot-widget
# ----------------------
# xeus-sql
# xeus-python  work working in browser, possible conflect on kernel
jupyterlite
# jupyterlite-xeus-python # work working in browser, possible conflect on kernel
jupyterlite-p5-kernel
jupyterlite_robotkernel
# jupyterlite_xeus_lfortran # Not matured 
jupyterlite-xeus-lua
jupyterlite-xeus-wren
jupyterlite-xeus-sqlite
JupyterLite-sphinx
# pyb2d_jupyterlite_backend # more of testing dynamics for games and 3D FX effects  # Not Matured !! no documentation

# ---------------------
# aitk.keras
plotly
# imjoy-jupyterlab-extension # 
# dsvisualizer # A simple data structure visualizer for Jupyter Notebooks. https://github.com/romero-jose/dsvisualizer
ipyx # A Jupyter widget library for reactive variables
ipybertin # A Jupyter - Bertin.js bridge, which Bertin.js is A package to draw maps in javascript based on D3.js 
## vispy
statworx-theme # A color theme for matplotlib using the offical statworx design
pyplot-themes # Easily set themes that automatically apply to matplotlib, seaborn, and pandas plots
jltheme # Change Matplotlib rcParams to match the current JupyterLab theme.
jupyterlab_miami_nights
theme-darcula   # Not bad, also I need a gray Theme
jupyterlab-theme-hale
repo2jupyterlite
replite
skillsnetwork-authoring-extension
jupyterlab-webrtc-docprovider
jupyter-videochat
jupyterview
jupyter-compare-view
floatview
ipyvizzu
panel-sketch # To sketch high performing, interactive visualizations running in the browser and drawing inspiration from p5js
# https://github.com/MarcSkovMadsen/panel-sketch
graphscope-jupyter

# pyotritonclient # A lightweight http client library for communicating with Nvidia Triton Inference Server (with Pyodide support in the browser)

# -- other Tools related to :: pyodide -----
# pyodide # is a Python distribution for the browser and Node.js based on WebAssembly.
matplotlib-pyodide
pyodide-html
pyodide-http
pyodide-build
exodide
micropip

# === other Tools ::  GUI based on markdown/ hmtl/ css / JS -----
# ipyscript # A Custom Jupyter Widget Library for PyScript.
# flexx # is a pure Python toolkit for creating graphical user interfaces (GUI’s), 
      # that uses web technology for its rendering. Apps are written purely in Python; 
      # The PScript transpiler generates the necessary JavaScript on the fly.
      # https://flexx.readthedocs.io/en/stable/
# Castella #  is a pure Python cross-platform UI framework made for us Pythonista.
         # https://i2y.github.io/castella/
# htag # GUI toolkit for building GUI toolkits (and create beautiful applications for mobile, web, and desktop from a single python3 codebase),
     # which render nativly in anything which can render html/js/css.
     # Interesting History and experinces from other tools like :
     # Guy (https://github.com/manatlan/guy), Python-eel (), remi (https://github.com/rawpython/remi) and gtag (https://github.com/manatlan/gtag)
     # as Alternative for Runner 
     # For a desktop app : You can use the PyWebView runner, which will run the UI in a pywebview container (or "ChromeApp runner", in a local chrome app mode). 
     # For a web app : You can use the WebHTTP runner, which will run the UI in a web server, and serve the UI on client side, in a browser. 
     # For a android app : You can use the AndroidApp runner, which will run the UI in a kiwi webview thru tornado webserver, and can be embedded in an apk (recipes)
     # For a pyscript app : you can use the PyScript runner, which will run completly in client side

# ==== Game Engines and 3D =====
# pygbag # python wasm for everyone ( packager + test server ). Runs python code directly in modern web browsers, including mobile versions. 
# pyp5js # Python to P5.js Transcriptor. https://pypi.org/project/pyp5js/ . pyp5js works like server and template generator
P5 # P5 is a Python library that provides high level drawing functionality to help you quickly create simulations and interactive art using Python. 
   # My Notes: P5 looks better than pyp5js in term of usability in Jupyter notebook # it have depedency on vispy
ipyp5 #  p5.js Jupyter Widget. My Notes: ipyp5 is old , but can be handy 
Enpyre # is an open-source library to render 2D games made with Python in React with graphics by PIXI.js and the power of Pyodide, WASM, and modern web technologies.
# wasm-spec-kernel # A Jupyter kernel for the Wasm reference interpreter
# wasmpy # Interactions between WebAssembly and Python
# pywasm3 # Python bindings for Wasm3, the fastest WebAssembly interpreter